/* light is default mode, so pair with general html definition */
html * {
  color-profile: sRGB !important;
  rendering-intent: auto !important;
}
html,
body,
#cnt {
  background-color: #002b36 !important;
  color: #839496 !important;
}
html *,
body *,
#cnt * {
  color: #839496 !important;
}
html h1,
body h1,
#cnt h1,
html h2,
body h2,
#cnt h2,
html h3,
body h3,
#cnt h3,
html h4,
body h4,
#cnt h4,
html h5,
body h5,
#cnt h5,
html h6,
body h6,
#cnt h6 {
  color: #93a1a1 !important;
  border-color: #839496 !important;
}
html a,
body a,
#cnt a,
html a:active,
body a:active,
#cnt a:active,
html a:visited,
body a:visited,
#cnt a:visited {
  color: #93a1a1 !important;
}
html .header,
body .header,
#cnt .header,
html .bootcamp h1,
body .bootcamp h1,
#cnt .bootcamp h1 {
  background-color: #073642 !important;
}
html .btn,
body .btn,
#cnt .btn,
html .social-count,
body .social-count,
#cnt .social-count {
  background-color: #586e75 !important;
  background-image: -webkit-linear-gradient(#002b36, #073642, 33%, #073642 66%, #002b36) !important;
  background-image: -o-linear-gradient(#002b36, #073642 33%, #073642 66%, #002b36) !important;
  background-image: linear-gradient(#002b36, #073642 33%, #073642 66%, #002b36) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff002b36', endColorstr='#ff002b36', GradientType=0) !important;
  color: #fdf6e3 !important;
}
html .boxed-group > h3,
body .boxed-group > h3,
#cnt .boxed-group > h3 {
  color: #eee8d5 !important;
  background-color: #073642 !important;
}
html .dashboard-sidebar a,
body .dashboard-sidebar a,
#cnt .dashboard-sidebar a,
html .dashboard-sidebar a:active,
body .dashboard-sidebar a:active,
#cnt .dashboard-sidebar a:active,
html .dashboard-sidebar a:visited,
body .dashboard-sidebar a:visited,
#cnt .dashboard-sidebar a:visited,
html .dashboard-sidebar code.url,
body .dashboard-sidebar code.url,
#cnt .dashboard-sidebar code.url {
  color: #268bd2 !important;
}
html .dashboard-sidebar h1,
body .dashboard-sidebar h1,
#cnt .dashboard-sidebar h1,
html .dashboard-sidebar h2,
body .dashboard-sidebar h2,
#cnt .dashboard-sidebar h2,
html .dashboard-sidebar h3,
body .dashboard-sidebar h3,
#cnt .dashboard-sidebar h3,
html .dashboard-sidebar h4,
body .dashboard-sidebar h4,
#cnt .dashboard-sidebar h4,
html .dashboard-sidebar h5,
body .dashboard-sidebar h5,
#cnt .dashboard-sidebar h5,
html .dashboard-sidebar h6,
body .dashboard-sidebar h6,
#cnt .dashboard-sidebar h6 {
  color: #268bd2 !important;
}
html .sfbgg,
body .sfbgg,
#cnt .sfbgg {
  /*
    color:@rebase3 !important;
    background-color:@rebase01 !important;
    */
  background-image: -webkit-linear-gradient(#002b36, #073642, 33%, #073642 66%, #002b36) !important;
  background-image: -o-linear-gradient(#002b36, #073642 33%, #073642 66%, #002b36) !important;
  background-image: linear-gradient(#002b36, #073642 33%, #073642 66%, #002b36) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff002b36', endColorstr='#ff002b36', GradientType=0) !important;
}
html .dropdown-menu,
body .dropdown-menu,
#cnt .dropdown-menu,
html .action-menu,
body .action-menu,
#cnt .action-menu,
html .action-menu ul,
body .action-menu ul,
#cnt .action-menu ul,
html .action-menu li,
body .action-menu li,
#cnt .action-menu li,
html .action-menu a,
body .action-menu a,
#cnt .action-menu a {
  background-color: #002b36 !important;
  border-color: #005469 !important;
  font-weight: bold;
}
html .dropdown-menu a,
body .dropdown-menu a,
#cnt .dropdown-menu a,
html .action-menu a,
body .action-menu a,
#cnt .action-menu a,
html .action-menu ul a,
body .action-menu ul a,
#cnt .action-menu ul a,
html .action-menu li a,
body .action-menu li a,
#cnt .action-menu li a,
html .action-menu a a,
body .action-menu a a,
#cnt .action-menu a a,
html .dropdown-menu a:active,
body .dropdown-menu a:active,
#cnt .dropdown-menu a:active,
html .action-menu a:active,
body .action-menu a:active,
#cnt .action-menu a:active,
html .action-menu ul a:active,
body .action-menu ul a:active,
#cnt .action-menu ul a:active,
html .action-menu li a:active,
body .action-menu li a:active,
#cnt .action-menu li a:active,
html .action-menu a a:active,
body .action-menu a a:active,
#cnt .action-menu a a:active,
html .dropdown-menu a:visited,
body .dropdown-menu a:visited,
#cnt .dropdown-menu a:visited,
html .action-menu a:visited,
body .action-menu a:visited,
#cnt .action-menu a:visited,
html .action-menu ul a:visited,
body .action-menu ul a:visited,
#cnt .action-menu ul a:visited,
html .action-menu li a:visited,
body .action-menu li a:visited,
#cnt .action-menu li a:visited,
html .action-menu a a:visited,
body .action-menu a a:visited,
#cnt .action-menu a a:visited,
html .dropdown-menu code.url,
body .dropdown-menu code.url,
#cnt .dropdown-menu code.url,
html .action-menu code.url,
body .action-menu code.url,
#cnt .action-menu code.url,
html .action-menu ul code.url,
body .action-menu ul code.url,
#cnt .action-menu ul code.url,
html .action-menu li code.url,
body .action-menu li code.url,
#cnt .action-menu li code.url,
html .action-menu a code.url,
body .action-menu a code.url,
#cnt .action-menu a code.url {
  color: #268bd2 !important;
}
html .dropdown-menu h1,
body .dropdown-menu h1,
#cnt .dropdown-menu h1,
html .action-menu h1,
body .action-menu h1,
#cnt .action-menu h1,
html .action-menu ul h1,
body .action-menu ul h1,
#cnt .action-menu ul h1,
html .action-menu li h1,
body .action-menu li h1,
#cnt .action-menu li h1,
html .action-menu a h1,
body .action-menu a h1,
#cnt .action-menu a h1,
html .dropdown-menu h2,
body .dropdown-menu h2,
#cnt .dropdown-menu h2,
html .action-menu h2,
body .action-menu h2,
#cnt .action-menu h2,
html .action-menu ul h2,
body .action-menu ul h2,
#cnt .action-menu ul h2,
html .action-menu li h2,
body .action-menu li h2,
#cnt .action-menu li h2,
html .action-menu a h2,
body .action-menu a h2,
#cnt .action-menu a h2,
html .dropdown-menu h3,
body .dropdown-menu h3,
#cnt .dropdown-menu h3,
html .action-menu h3,
body .action-menu h3,
#cnt .action-menu h3,
html .action-menu ul h3,
body .action-menu ul h3,
#cnt .action-menu ul h3,
html .action-menu li h3,
body .action-menu li h3,
#cnt .action-menu li h3,
html .action-menu a h3,
body .action-menu a h3,
#cnt .action-menu a h3,
html .dropdown-menu h4,
body .dropdown-menu h4,
#cnt .dropdown-menu h4,
html .action-menu h4,
body .action-menu h4,
#cnt .action-menu h4,
html .action-menu ul h4,
body .action-menu ul h4,
#cnt .action-menu ul h4,
html .action-menu li h4,
body .action-menu li h4,
#cnt .action-menu li h4,
html .action-menu a h4,
body .action-menu a h4,
#cnt .action-menu a h4,
html .dropdown-menu h5,
body .dropdown-menu h5,
#cnt .dropdown-menu h5,
html .action-menu h5,
body .action-menu h5,
#cnt .action-menu h5,
html .action-menu ul h5,
body .action-menu ul h5,
#cnt .action-menu ul h5,
html .action-menu li h5,
body .action-menu li h5,
#cnt .action-menu li h5,
html .action-menu a h5,
body .action-menu a h5,
#cnt .action-menu a h5,
html .dropdown-menu h6,
body .dropdown-menu h6,
#cnt .dropdown-menu h6,
html .action-menu h6,
body .action-menu h6,
#cnt .action-menu h6,
html .action-menu ul h6,
body .action-menu ul h6,
#cnt .action-menu ul h6,
html .action-menu li h6,
body .action-menu li h6,
#cnt .action-menu li h6,
html .action-menu a h6,
body .action-menu a h6,
#cnt .action-menu a h6 {
  color: #268bd2 !important;
}
html #logo,
body #logo,
#cnt #logo {
  display: none;
}
html .mn-dwn-arw,
body .mn-dwn-arw,
#cnt .mn-dwn-arw {
  border-top-color: #eee8d5 !important;
  border-bottom-color: #eee8d5;
}
html .dropdown-menu:after,
body .dropdown-menu:after,
#cnt .dropdown-menu:after {
  border-bottom-color: #002b36 !important;
}
html #top_nav div,
body #top_nav div,
#cnt #top_nav div {
  background-color: #073642 !important;
  font-weight: bold;
}
html #top_nav div a,
body #top_nav div a,
#cnt #top_nav div a,
html #top_nav div a:active,
body #top_nav div a:active,
#cnt #top_nav div a:active,
html #top_nav div a:visited,
body #top_nav div a:visited,
#cnt #top_nav div a:visited,
html #top_nav div code.url,
body #top_nav div code.url,
#cnt #top_nav div code.url {
  color: #cb4b16 !important;
}
html #top_nav div h1,
body #top_nav div h1,
#cnt #top_nav div h1,
html #top_nav div h2,
body #top_nav div h2,
#cnt #top_nav div h2,
html #top_nav div h3,
body #top_nav div h3,
#cnt #top_nav div h3,
html #top_nav div h4,
body #top_nav div h4,
#cnt #top_nav div h4,
html #top_nav div h5,
body #top_nav div h5,
#cnt #top_nav div h5,
html #top_nav div h6,
body #top_nav div h6,
#cnt #top_nav div h6 {
  color: #cb4b16 !important;
}
html #appbar,
body #appbar,
#cnt #appbar,
html .ab_button,
body .ab_button,
#cnt .ab_button {
  background-image: -webkit-linear-gradient(#002b36, #094959, 33%, #073642 66%, #002b36) !important;
  background-image: -o-linear-gradient(#002b36, #094959 33%, #073642 66%, #002b36) !important;
  background-image: linear-gradient(#002b36, #094959 33%, #073642 66%, #002b36) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff002b36', endColorstr='#ff002b36', GradientType=0) !important;
  font-weight: bold;
}
html .ab_button,
body .ab_button,
#cnt .ab_button {
  border: 1px solid #15504c !important;
}
html .ab_button.selected,
body .ab_button.selected,
#cnt .ab_button.selected {
  background-color: #657b83 !important;
  background-image: none !important;
  border: 1px solid #1f7972 !important;
}
html #sfdiv,
body #sfdiv,
#cnt #sfdiv,
html .sbib_b,
body .sbib_b,
#cnt .sbib_b,
html .gsst_b,
body .gsst_b,
#cnt .gsst_b,
html .sbdd_b,
body .sbdd_b,
#cnt .sbdd_b,
html .sbsb_b,
body .sbsb_b,
#cnt .sbsb_b,
html label.js-chromeless-input-container,
body label.js-chromeless-input-container,
#cnt label.js-chromeless-input-container {
  background-color: #073642 !important;
  color: #eee8d5 !important;
  font-weight: bold !important;
  border-color: #eee8d5 !important;
}
html .g a,
body .g a,
#cnt .g a {
  color: #93a1a1 !important;
}
html .g span,
body .g span,
#cnt .g span {
  color: #839496 !important;
}
html .g em,
body .g em,
#cnt .g em {
  color: #268bd2 !important;
}
html #sblsbb,
body #sblsbb,
#cnt #sblsbb {
  background-image: none !important;
  background-color: #073642 !important;
  color: #eee8d5 !important;
  border-color: #eee8d5 !important;
}
html .sbib_b input,
body .sbib_b input,
#cnt .sbib_b input,
html .gsst_b span,
body .gsst_b span,
#cnt .gsst_b span {
  /*
    color:@cyan !important;
    font-weight:bold !important;
    */
}
html .srg,
body .srg,
#cnt .srg {
  color: #fdf6e3 !important;
  a: #fdf6e3 !important;
}
article {
  background-color: #fdf6e3 !important;
  color: #657b83 !important;
}
article * {
  color: #657b83 !important;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  color: #586e75 !important;
  border-color: #657b83 !important;
}
article a,
article a:active,
article a:visited {
  color: #586e75 !important;
}
article .header,
article .bootcamp h1 {
  background-color: #eee8d5 !important;
}
article .btn,
article .social-count {
  background-color: #93a1a1 !important;
  background-image: -webkit-linear-gradient(#fdf6e3, #eee8d5, 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: -o-linear-gradient(#fdf6e3, #eee8d5 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: linear-gradient(#fdf6e3, #eee8d5 33%, #eee8d5 66%, #fdf6e3) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf6e3', endColorstr='#fffdf6e3', GradientType=0) !important;
  color: #002b36 !important;
}
article .boxed-group > h3 {
  color: #073642 !important;
  background-color: #eee8d5 !important;
}
article .dashboard-sidebar a,
article .dashboard-sidebar a:active,
article .dashboard-sidebar a:visited,
article .dashboard-sidebar code.url {
  color: #268bd2 !important;
}
article .dashboard-sidebar h1,
article .dashboard-sidebar h2,
article .dashboard-sidebar h3,
article .dashboard-sidebar h4,
article .dashboard-sidebar h5,
article .dashboard-sidebar h6 {
  color: #268bd2 !important;
}
article .sfbgg {
  /*
    color:@rebase3 !important;
    background-color:@rebase01 !important;
    */
  background-image: -webkit-linear-gradient(#fdf6e3, #eee8d5, 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: -o-linear-gradient(#fdf6e3, #eee8d5 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: linear-gradient(#fdf6e3, #eee8d5 33%, #eee8d5 66%, #fdf6e3) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf6e3', endColorstr='#fffdf6e3', GradientType=0) !important;
}
article .dropdown-menu,
article .action-menu,
article .action-menu ul,
article .action-menu li,
article .action-menu a {
  background-color: #fdf6e3 !important;
  border-color: #ffffff !important;
  font-weight: bold;
}
article .dropdown-menu a,
article .action-menu a,
article .action-menu ul a,
article .action-menu li a,
article .action-menu a a,
article .dropdown-menu a:active,
article .action-menu a:active,
article .action-menu ul a:active,
article .action-menu li a:active,
article .action-menu a a:active,
article .dropdown-menu a:visited,
article .action-menu a:visited,
article .action-menu ul a:visited,
article .action-menu li a:visited,
article .action-menu a a:visited,
article .dropdown-menu code.url,
article .action-menu code.url,
article .action-menu ul code.url,
article .action-menu li code.url,
article .action-menu a code.url {
  color: #268bd2 !important;
}
article .dropdown-menu h1,
article .action-menu h1,
article .action-menu ul h1,
article .action-menu li h1,
article .action-menu a h1,
article .dropdown-menu h2,
article .action-menu h2,
article .action-menu ul h2,
article .action-menu li h2,
article .action-menu a h2,
article .dropdown-menu h3,
article .action-menu h3,
article .action-menu ul h3,
article .action-menu li h3,
article .action-menu a h3,
article .dropdown-menu h4,
article .action-menu h4,
article .action-menu ul h4,
article .action-menu li h4,
article .action-menu a h4,
article .dropdown-menu h5,
article .action-menu h5,
article .action-menu ul h5,
article .action-menu li h5,
article .action-menu a h5,
article .dropdown-menu h6,
article .action-menu h6,
article .action-menu ul h6,
article .action-menu li h6,
article .action-menu a h6 {
  color: #268bd2 !important;
}
article #logo {
  display: none;
}
article .mn-dwn-arw {
  border-top-color: #073642 !important;
  border-bottom-color: #073642;
}
article .dropdown-menu:after {
  border-bottom-color: #fdf6e3 !important;
}
article #top_nav div {
  background-color: #eee8d5 !important;
  font-weight: bold;
}
article #top_nav div a,
article #top_nav div a:active,
article #top_nav div a:visited,
article #top_nav div code.url {
  color: #cb4b16 !important;
}
article #top_nav div h1,
article #top_nav div h2,
article #top_nav div h3,
article #top_nav div h4,
article #top_nav div h5,
article #top_nav div h6 {
  color: #cb4b16 !important;
}
article #appbar,
article .ab_button {
  background-image: -webkit-linear-gradient(#fdf6e3, #f5f2e7, 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: -o-linear-gradient(#fdf6e3, #f5f2e7 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: linear-gradient(#fdf6e3, #f5f2e7 33%, #eee8d5 66%, #fdf6e3) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf6e3', endColorstr='#fffdf6e3', GradientType=0) !important;
  font-weight: bold;
}
article .ab_button {
  border: 1px solid #15504c !important;
}
article .ab_button.selected {
  background-color: #839496 !important;
  background-image: none !important;
  border: 1px solid #1f7972 !important;
}
article #sfdiv,
article .sbib_b,
article .gsst_b,
article .sbdd_b,
article .sbsb_b,
article label.js-chromeless-input-container {
  background-color: #eee8d5 !important;
  color: #073642 !important;
  font-weight: bold !important;
  border-color: #073642 !important;
}
article .g a {
  color: #586e75 !important;
}
article .g span {
  color: #657b83 !important;
}
article .g em {
  color: #268bd2 !important;
}
article #sblsbb {
  background-image: none !important;
  background-color: #eee8d5 !important;
  color: #073642 !important;
  border-color: #073642 !important;
}
article .sbib_b input,
article .gsst_b span {
  /*
    color:@cyan !important;
    font-weight:bold !important;
    */
}
article .srg {
  color: #002b36 !important;
  a: #002b36 !important;
}
.markdown-body {
  background-color: #fdf6e3 !important;
  color: #657b83 !important;
}
.markdown-body * {
  color: #657b83 !important;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: #586e75 !important;
  border-color: #657b83 !important;
}
.markdown-body a,
.markdown-body a:active,
.markdown-body a:visited {
  color: #586e75 !important;
}
.markdown-body .header,
.markdown-body .bootcamp h1 {
  background-color: #eee8d5 !important;
}
.markdown-body .btn,
.markdown-body .social-count {
  background-color: #93a1a1 !important;
  background-image: -webkit-linear-gradient(#fdf6e3, #eee8d5, 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: -o-linear-gradient(#fdf6e3, #eee8d5 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: linear-gradient(#fdf6e3, #eee8d5 33%, #eee8d5 66%, #fdf6e3) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf6e3', endColorstr='#fffdf6e3', GradientType=0) !important;
  color: #002b36 !important;
}
.markdown-body .boxed-group > h3 {
  color: #073642 !important;
  background-color: #eee8d5 !important;
}
.markdown-body .dashboard-sidebar a,
.markdown-body .dashboard-sidebar a:active,
.markdown-body .dashboard-sidebar a:visited,
.markdown-body .dashboard-sidebar code.url {
  color: #268bd2 !important;
}
.markdown-body .dashboard-sidebar h1,
.markdown-body .dashboard-sidebar h2,
.markdown-body .dashboard-sidebar h3,
.markdown-body .dashboard-sidebar h4,
.markdown-body .dashboard-sidebar h5,
.markdown-body .dashboard-sidebar h6 {
  color: #268bd2 !important;
}
.markdown-body .sfbgg {
  /*
    color:@rebase3 !important;
    background-color:@rebase01 !important;
    */
  background-image: -webkit-linear-gradient(#fdf6e3, #eee8d5, 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: -o-linear-gradient(#fdf6e3, #eee8d5 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: linear-gradient(#fdf6e3, #eee8d5 33%, #eee8d5 66%, #fdf6e3) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf6e3', endColorstr='#fffdf6e3', GradientType=0) !important;
}
.markdown-body .dropdown-menu,
.markdown-body .action-menu,
.markdown-body .action-menu ul,
.markdown-body .action-menu li,
.markdown-body .action-menu a {
  background-color: #fdf6e3 !important;
  border-color: #ffffff !important;
  font-weight: bold;
}
.markdown-body .dropdown-menu a,
.markdown-body .action-menu a,
.markdown-body .action-menu ul a,
.markdown-body .action-menu li a,
.markdown-body .action-menu a a,
.markdown-body .dropdown-menu a:active,
.markdown-body .action-menu a:active,
.markdown-body .action-menu ul a:active,
.markdown-body .action-menu li a:active,
.markdown-body .action-menu a a:active,
.markdown-body .dropdown-menu a:visited,
.markdown-body .action-menu a:visited,
.markdown-body .action-menu ul a:visited,
.markdown-body .action-menu li a:visited,
.markdown-body .action-menu a a:visited,
.markdown-body .dropdown-menu code.url,
.markdown-body .action-menu code.url,
.markdown-body .action-menu ul code.url,
.markdown-body .action-menu li code.url,
.markdown-body .action-menu a code.url {
  color: #268bd2 !important;
}
.markdown-body .dropdown-menu h1,
.markdown-body .action-menu h1,
.markdown-body .action-menu ul h1,
.markdown-body .action-menu li h1,
.markdown-body .action-menu a h1,
.markdown-body .dropdown-menu h2,
.markdown-body .action-menu h2,
.markdown-body .action-menu ul h2,
.markdown-body .action-menu li h2,
.markdown-body .action-menu a h2,
.markdown-body .dropdown-menu h3,
.markdown-body .action-menu h3,
.markdown-body .action-menu ul h3,
.markdown-body .action-menu li h3,
.markdown-body .action-menu a h3,
.markdown-body .dropdown-menu h4,
.markdown-body .action-menu h4,
.markdown-body .action-menu ul h4,
.markdown-body .action-menu li h4,
.markdown-body .action-menu a h4,
.markdown-body .dropdown-menu h5,
.markdown-body .action-menu h5,
.markdown-body .action-menu ul h5,
.markdown-body .action-menu li h5,
.markdown-body .action-menu a h5,
.markdown-body .dropdown-menu h6,
.markdown-body .action-menu h6,
.markdown-body .action-menu ul h6,
.markdown-body .action-menu li h6,
.markdown-body .action-menu a h6 {
  color: #268bd2 !important;
}
.markdown-body #logo {
  display: none;
}
.markdown-body .mn-dwn-arw {
  border-top-color: #073642 !important;
  border-bottom-color: #073642;
}
.markdown-body .dropdown-menu:after {
  border-bottom-color: #fdf6e3 !important;
}
.markdown-body #top_nav div {
  background-color: #eee8d5 !important;
  font-weight: bold;
}
.markdown-body #top_nav div a,
.markdown-body #top_nav div a:active,
.markdown-body #top_nav div a:visited,
.markdown-body #top_nav div code.url {
  color: #cb4b16 !important;
}
.markdown-body #top_nav div h1,
.markdown-body #top_nav div h2,
.markdown-body #top_nav div h3,
.markdown-body #top_nav div h4,
.markdown-body #top_nav div h5,
.markdown-body #top_nav div h6 {
  color: #cb4b16 !important;
}
.markdown-body #appbar,
.markdown-body .ab_button {
  background-image: -webkit-linear-gradient(#fdf6e3, #f5f2e7, 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: -o-linear-gradient(#fdf6e3, #f5f2e7 33%, #eee8d5 66%, #fdf6e3) !important;
  background-image: linear-gradient(#fdf6e3, #f5f2e7 33%, #eee8d5 66%, #fdf6e3) !important;
  background-repeat: no-repeat !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf6e3', endColorstr='#fffdf6e3', GradientType=0) !important;
  font-weight: bold;
}
.markdown-body .ab_button {
  border: 1px solid #15504c !important;
}
.markdown-body .ab_button.selected {
  background-color: #839496 !important;
  background-image: none !important;
  border: 1px solid #1f7972 !important;
}
.markdown-body #sfdiv,
.markdown-body .sbib_b,
.markdown-body .gsst_b,
.markdown-body .sbdd_b,
.markdown-body .sbsb_b,
.markdown-body label.js-chromeless-input-container {
  background-color: #eee8d5 !important;
  color: #073642 !important;
  font-weight: bold !important;
  border-color: #073642 !important;
}
.markdown-body .g a {
  color: #586e75 !important;
}
.markdown-body .g span {
  color: #657b83 !important;
}
.markdown-body .g em {
  color: #268bd2 !important;
}
.markdown-body #sblsbb {
  background-image: none !important;
  background-color: #eee8d5 !important;
  color: #073642 !important;
  border-color: #073642 !important;
}
.markdown-body .sbib_b input,
.markdown-body .gsst_b span {
  /*
    color:@cyan !important;
    font-weight:bold !important;
    */
}
.markdown-body .srg {
  color: #002b36 !important;
  a: #002b36 !important;
}
